<app-nav></app-nav>
@defer (when loaded) {
  @if(!subscribing){
<mat-card class="result" *ngIf="loaded">
    <mat-card-content>
      <section class="example-section">
 

        <mat-accordion style="width: 100%;">
            <mat-expansion-panel [disabled]="!challenge?.athletes || challenge?.athletes?.length==0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-slide-toggle
                  (click)="$event.stopPropagation()"
                  class="example-margin"
                  [checked]="found && found.length>0"
                  [disabled]="challenge.end_date_local<today"
                  (change)="subscription($event)"
                  >
                @if(found && found.length>0){
                      Inscrito!
                }@else{
                      Inscríbete!
                }
                 
              </mat-slide-toggle>
                    Deportistas Inscritos: {{challenge.athletes?challenge.athletes?.length:0}}
                </mat-panel-title>
              </mat-expansion-panel-header>
           
            @for(a of challenge.athletes;track a.id;let i=$index) {
              <mat-card style="cursor:pointer" (click)="viewAthlete(a.id)">
              <mat-card-header>
                <div mat-card-avatar [style.background-image]="'url(' + a.profile + ')'" style="background-size: cover;"></div>
                <mat-card-title style="color:white">
                  {{a.firstname}}    
                  @if(!a.performance) {
                  <mat-icon style="vertical-align: middle;color:red" fontIcon="not_started"></mat-icon>
                  }@else if(a.performance && a.performance.stages && a.performance.stages.length < challenge.stages.length){
                    <mat-icon style="vertical-align: middle;color:yellow" fontIcon="not_started"></mat-icon>
                  }@else{
                    <mat-icon style="vertical-align: middle;color:green" fontIcon="check_small"></mat-icon>
                  }
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          }
       

        </mat-expansion-panel>
          </mat-accordion>
          @if(this.session.isAdmin()){
            <mat-icon style="cursor:pointer;color:white;scale: 1.2em;" (click)="deleteChallenge()">delete</mat-icon>
          }
      </section>
    </mat-card-content>
  </mat-card>
}@else {
  <mat-progress-bar
    class="example-margin"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-bar>
  <div style="width:100%;text-align: center;color:white;font-size: large">Estamos preparando todo para ti</div>
}
    <app-view-challenge [challenge]="challenge"></app-view-challenge>

  } @placeholder {
    <mat-progress-bar
    class="example-margin"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-bar>
  } @error {
    <div>ERROR</div>
  }
