
  .container {

    display: flex;
    
    justify-content: space-around; 
    align-items: flex-start; 
    /* flex-flow: row wrap; */ 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-content: flex-start;

    height: 100%;
    padding: 15px;
    gap: 5px;

  }



  .item { 
     flex:1 1 auto;
    flex-grow:1;
    cursor: pointer;
  }
			
 
