<app-nav></app-nav>
<div class="container">
@defer(when challenges_loaded) {
    @for(challenge of challenges; track challenge.id) {
        <app-card-challenge class="item" [challenge]="challenge" (click)="viewChallenge(challenge.id)"></app-card-challenge>
    }@empty {
      <div style="text-align: center;color:white;font-size: large;">No hay retos, pero muy pronto esto será muy emocionante</div>
      <div>
        <img src="assets/imageD.jpeg" style="width: 100%;">
      </div>
    }
    @if(challenges_has_more && this.challenges_loaded) {
        <button
          style="width: 100%"
          mat-raised-button
          color="primary"
          (click)="loadChallenges()"
        >
          <mat-icon>load</mat-icon>
          Cargar más segmentos
        </button>
      }
}@placeholder{
    <mat-progress-bar
class="example-margin"
color="primary"
mode="indeterminate"
>
</mat-progress-bar>
} @error {
<div>ERROR</div>
}
</div>