<app-nav></app-nav>
<div class="container">
@defer(when challenges_loaded) {
    @for(challenge of challenges; track challenge.id) {
        <app-card-challenge class="item" [challenge]="challenge" (click)="viewChallenge(challenge.id)"></app-card-challenge>
    }
    @if(challenges_has_more && this.challenges_loaded) {
        <button
          style="width: 100%"
          mat-raised-button
          color="primary"
          (click)="loadChallenges()"
        >
          <mat-icon>load</mat-icon>
          Cargar más segmentos
        </button>
      }
}@placeholder{
    <mat-progress-bar
class="example-margin"
color="primary"
mode="indeterminate"
>
</mat-progress-bar>
} @error {
<div>ERROR</div>
}
</div>