.map-container {
    height: 400px;
  }
.icon{
    opacity: 0.5;
}
.satelite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: x-large;
    color: rgba(35, 45, 57, 0.796);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 8px;
    z-index: 9999;
    cursor:pointer;
  }
  .sateliteon {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: x-large;
    color: rgba(64, 128, 206, 0.796) !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 8px;
    z-index: 9999;
    cursor:pointer;
  }
  //esto va en global.scss
  a.leaflet-control-fullscreen-button{
    background-image: url(/assets/icons/fullscreen.svg);
  }